[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = rgr
	email = rgr@qosmotec.com
[core]
	filemode = true
	editor = vim
[push]
	default = tracking
[github]
	user = rgr
[color]
	ui = true
	status = auto
	branch = auto
	diff = auto
[diff]
	color = true
	tool = vimdiff
	mnemonicprefix = true
[format]
	signoff = true
[alias]
	reset = reset --soft HEAD^
	graph = log --graph --oneline --decorate
	compare = diff --dir-diff HEAD^ HEAD
	tree = log --pretty=oneline --graph --decorate --all
	ma = checkout master
	cl = checkout -
	st= status -sb
[gui]
	recentrepo = C:/Accurev/alpha
	recentrepo = F:/qts
[merge]
	tool = vimdiff
    renamelimit=10000
